<a href="https://colab.research.google.com/github/Jojomaque/DataScience/blob/main/JojoData_Investigation_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data investigation project
---

Use what you have learnt so far about reading data files and displaying rows, columns, unique values, etc, to investigate and produce some printed information from this data set: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

In [10]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"
df = pd.read_csv(url)
# Viewing a sample of the dataset
df.head(50)
df.dtypes

#issues - data cleaning
#mean salary is not numerical

code                  object
area                  object
date                  object
median_salary        float64
life_satisfaction    float64
mean_salary           object
recycling_pct         object
population_size      float64
number_of_jobs       float64
area_size            float64
no_of_houses         float64
borough_flag           int64
dtype: object

In [ ]:
# Finding out the min and max dates
print(df['date'].min())
print(df['date'].max())

In [9]:
# Viewing the available areas that are in the london boroughs as some of the areas are elsewhere in the UK
df[df['borough_flag'] == 1]['area'].unique()

array(['city of london', 'barking and dagenham', 'barnet', 'bexley',
       'brent', 'bromley', 'camden', 'croydon', 'ealing', 'enfield',
       'greenwich', 'hackney', 'hammersmith and fulham', 'haringey',
       'harrow', 'havering', 'hillingdon', 'hounslow', 'islington',
       'kensington and chelsea', 'kingston upon thames', 'lambeth',
       'lewisham', 'merton', 'newham', 'redbridge',
       'richmond upon thames', 'southwark', 'sutton', 'tower hamlets',
       'waltham forest', 'wandsworth', 'westminster'], dtype=object)