<a href="https://colab.research.google.com/github/Jojomaque/DataScience/blob/main/Jojo_Working_with_variable_data_challenge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create a set of statistics from a list of variables 

---
Sea levels are rising.  The data in the tests at the bottom of this notebook contains a list of the difference between the sea level in any year since 1880 and the level it was in 1880.

### Data Source
Global Average Absolute Sea Level Change, 1880-2014 from the US Environmental Protection Agency using data from CSIRO, 2015; NOAA, 2015.
https://datahub.io/core/sea-level-rise

The data describes annual sea levels from 1880 to 2013.  Measures are adjusted using two standards: Commonwealth Scientific and Industrial Research Organisation(CSIRO) and National Oceanic and Atmospheric Administration (NOAA)

## To complete this challenge you will need to know:
*  Data types, variables and operators
*  Selection
*  Functions


Complete the functions below and test that they work by running the tests in the final cell

---
## Calculate the average annual level above 1880 levels

In [ ]:
def get_average(level1, level2, level3, level4, level5):
  #  add your code below here to calculate the average of the values, then run to test it
  total = level1 + level2 + level3 + level4 + level5
  average = total / 5
  return average


# Tests
# levels to use 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951
# Test 1 - average of first 10 values
if get_average(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951) == 8.9519684946:
  print("Test 1 passed")
else: 
  print("Test 1 failed")

Test 1 passed

---
## Calculate the largest change from one year to the next in the entire list
The change would be indicated by subtracting the preceding level from this level

In [ ]:
def get_largest_change(level1, level2, level3, level4, level5):
  #  add your code below here to find the highest change from one year to the next, then run to test it

    differences=[]


    difference= 0
    yearly_difference1= level2-level1
    differences.append(yearly_difference1)

   
    yearly_difference2= level3-level2
    differences.append(yearly_difference2)
    
    yearly_difference3=level4-level3
    differences.append(yearly_difference3)
    
    yearly_difference4= level5-level4
    differences.append(yearly_difference4)
    
    #print(differences)
    
    return max(differences)
    

      
   
  
# Tests
# levels to use 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951
# Test 1 - highest year on year change
if get_largest_change(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951) == 0.3622047239999997:
  print("Test 1 passed")
else:
  print("Test 1 failed")

Test 1 passed

In [5]:
def get_largest_change(level1, level2, level3, level4, level5):
  levels = [level1, level2, level3, level4, level5]
  max = 0
  curr_level = 0
  next_level = 0

  for i in range(len(levels)):
    print(i, "=>", levels[i] )
    if i < len(levels) - 1:
      diff = abs(levels[i] - levels[i + 1])
      max = diff if diff > max else max

  print(max)
  return max

# Tests
# levels to use 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951
# Test 1 - highest year on year change
if get_largest_change(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951) == 0.3622047239999997:
  print("Test 1 passed")
else:
  print("Test 1 failed")

0 => 8.586614164
1 => 8.901574794
2 => 8.96456692
3 => 9.326771643999999
4 => 8.980314951
0.3622047239999997
Test 1 passed

---
## Calculate the smallest change from one year to the next in the entire list
The change would be indicated by subtracting the preceding level from this level

In [ ]:
def get_smallest_change(level1, level2, level3, level4, level5):
  #  add your code below here to find the highest change from one year to the next, then run to test it



# Tests
# levels to use 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951
# Test 1 - smallest year on year change
if get_smallest_change(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951) == -0.3464566929999986:
  print("Test 1 passed")
else:
  print("Test 1 failed")

---
### Calculate in how many years did the sea level fall rather than rise

In [ ]:
def find_total_fall_years(level1, level2, level3, level4, level5):
  # add your code below here to find the number of years the sea level fell, then run to test it




# Tests
# levels to use 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951
# Test 1 - number of years sea levels fell
if find_total_fall_years(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951) == 1:
  print("Test 1 passed")
else:
  print("Test 1 failed")

---
## Find the year that the sea was at the highest above 1880 levels
(the data represents annual rises since 1880, with the first value being the level for 2009)

In [ ]:
def find_highest_year(level1, level2, level3, level4, level5):
  #  add your code below here to find the highest level above 1880 levels



# Tests
# levels to use 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951
# Test 1 - year of highest level above 1880 level
if find_highest_year(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951) == 2012:
  print("Test 1 passed")
else:
  print("Test 1 failed")

---
## Calculate the average rise in level per year and predict the rise above 1880 levels for a given year

In [ ]:
from datetime import datetime

def predict_level(level1, level2, level3, level4, level5, year):
  #  add your code below here to find the average rise per year and predict rise from 1880 for given year
  #  if the year is before 2009, return -1



# Tests
# levels to use 8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951
# Test 1 - prediction for 2021
if predict_level(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951, 2021) == 13.877952741750008:
  print("Test 1 passed")
else:
  print("Test 1 failed")
# Test 2 - prediction for 2050
if predict_level(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951, 2050) == 16.73228344750001:
  print("Test 2 passed")
else:
  print("Test 2 failed")
# Test 3 - prediction for 2005
if predict_level(8.586614164, 8.901574794, 8.96456692, 9.326771643999999, 8.980314951,2005) == -1:
  print("Test 3 passed")
else:
  print("Test 3 failed")